.widget.portfolio
	.head
		span.title Мои работы
		.arrows
			img.prev(src="/assets/img/icons/arrow.svg" width="40" height="40")
			img.next(src="/assets/img/icons/arrow.svg" width="40" height="40")
	hr.red
	.swiper
		.swiper-wrapper
			.swiper-slide
				a(href="/assets/img/ui/widgets/port/1.1.jpg"
					data-fancybox="gallery"
					data-caption="Caption #1")
					img(src="/assets/img/ui/widgets/port/1.0.jpg")
			.swiper-slide
				a(href="/assets/img/ui/widgets/port/2.1.jpg"
					data-fancybox="gallery"
					data-caption="Caption #2")
					img(src="/assets/img/ui/widgets/port/2.0.jpg")
			.swiper-slide
				a(href="/assets/img/ui/widgets/port/3.1.jpg"
					data-fancybox="gallery"
					data-caption="Caption #3")
					img(src="/assets/img/ui/widgets/port/3.0.jpg")
			.swiper-slide
				a(href="/assets/img/ui/widgets/port/1.1.jpg"
					data-fancybox="gallery"
					data-caption="Caption #1")
					img(src="/assets/img/ui/widgets/port/1.0.jpg")
</a>
